* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0fff0;
}

/* HERO */
.hero {
    height: 60vh;
    background: linear-gradient(rgba(0,128,0,0.6), rgba(0,128,0,0.6)),
                url('/static/images/cow1.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

/* PRODUCTS */
.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* CARD */
.card {
    background: white;
    width: 250px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #2e7d32;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

/* CART */
.cart-box {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
